{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our One Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <p class="justify">
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta sodales ultrices. Sed libero velit, faucibus
        ut sem venenatis, porttitor sagittis metus. Aliquam nec ullamcorper mi, vel faucibus tellus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean vehicula diam placerat dui
        aliquet ornare quis id nulla. Ut dapibus congue mi, ac tincidunt justo lobortis non. Proin enim eros, sagittis
        tempus mattis dapibus, tempus et mauris. Proin consectetur in felis imperdiet tempus. Suspendisse lectus orci,
        bibendum vel placerat eu, egestas non quam. Etiam fermentum quam vitae ligula gravida molestie. Nulla facilisi.
        Morbi scelerisque gravida massa, at rhoncus lectus pharetra a. Cras ac tincidunt risus, sed maximus ex.
        <br><br>
        Ut rutrum mollis urna, et lacinia elit luctus sed. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Vestibulum a pulvinar erat, id ultrices lectus. Nam ut orci finibus, commodo
        ante posuere, pharetra dui. Nullam bibendum massa eget ipsum gravida mollis. Vivamus vestibulum efficitur
        pharetra. Sed convallis tortor eu suscipit consectetur. Praesent pulvinar ante nec nisl sodales, at maximus
        lorem venenatis. Suspendisse et tortor felis. Maecenas viverra urna quis diam posuere, ut eleifend sapien
        posuere. Mauris vitae tortor sed nunc faucibus lacinia eu non magna. Donec finibus cursus pretium. In euismod
        risus nec nibh euismod, feugiat tempor felis tincidunt. Etiam quam eros, facilisis tristique eros quis,
        consequat aliquet turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Maecenas tincidunt velit ut lacus consequat lacinia.
        <br><br>
        Morbi condimentum fringilla blandit. Donec cursus ullamcorper condimentum. Fusce pharetra turpis at justo
        tempor, et feugiat neque cursus. Vivamus consequat convallis rutrum. Vestibulum ultricies mauris eget dictum
        iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras erat nisi,
        pulvinar a nibh id, efficitur sollicitudin tortor. In faucibus euismod quam, at tempor odio tincidunt eget.
        Integer convallis aliquet tellus eget porttitor. Etiam vehicula, nisl vitae euismod elementum, orci sapien
        accumsan dui, eget finibus leo metus at massa. Nulla venenatis purus nulla, quis feugiat tortor viverra quis.
        Pellentesque ut nisl suscipit, egestas justo a, placerat arcu. Nullam dui turpis, pulvinar eget tristique non,
        porta eu ex. Integer felis nisi, auctor id euismod ac, hendrerit eu sem.
    </p>
</div>

{% endblock %}